# Enable new-style C++ toolchain resolution and set the target platform
build --incompatible_enable_cc_toolchain_resolution
build --platforms=@rules_pico//platforms:pico

# Aliases for configuration settings
build --flag_alias=pico_board=@rules_pico//pico/config:board
build --flag_alias=pico_double_impl=@rules_pico//pico/config:double_impl
build --flag_alias=pico_float_impl=@rules_pico//pico/config:float_impl
build --flag_alias=pico_stdio_uart=@rules_pico//pico/config:stdio_uart
build --flag_alias=pico_stdio_usb=@rules_pico//pico/config:stdio_usb

# The specific board config used by tplp2
build --pico_board=adafruit_feather_rp2040
build --pico_stdio_uart=False
build --pico_stdio_usb=True
